<br><br>
  <br><font size="5" color="Black"><b>Contact Us</b></font>
  <font size="4"><b><form id="contact_form" action="mailto:mfsbstarboys@gmail.com?subject=visitor's reply&message=message" method="POST" enctype="multipart/form-data">
	<div class="row" align="left" style="margin-left:0px;>
		<label for="name"><font color="black">Your name:</label><br></font>
      <textarea id="name" class="input" name="name" rows="1" cols="50"></textarea><br />
	</div>
	<div class="row" align="left" style="margin-left:0px;>
		<label for="email"><font color="black">Your email:</label><br></font>
      <textarea id="email" class="input" name="email" rows="1" cols="50"></textarea><br />
			</div>
	<div class="row" align="left" style="margin-left:0px;>
		<label for="message"><font color="black">Your message:</label><br ></font>
		<textarea id="message" class="input" name="message" rows="7" cols="50"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />
</form>
</font></b>
  <form method="post" action="">
</body>
</html>